.homepage-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    min-width: 800px;
    max-width: 1300px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #f0f0f0;
    border-radius: 1rem;
}

.homepage-header {
    font-size: 40px;
    font-weight: 700;
    margin: 2% 0 4% 0;
}

.add-task-div {
    align-self: flex-start;
    margin: 0 0 0.5% 4%;
}

.add-task-button {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background-color: #bfbfbf;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 0.4rem;
}

.add-task-button:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: #a5a5a5;
}

.parent-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 1%;
    margin-bottom: 3%;
    background-color: #d9d9d9;
    border-radius: 1rem;
}

.content-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    height: 70px;
    margin: 0.5%;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: #e7e7e7;
}

.content-text {
    width: 70%;
    height: 90%;
    margin: 1%;
    font-size: 22px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* start showing ellipsis when 2nd line is reached */
    border-radius: 0.5rem;
}

.content-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    height: 100px;
    margin: 2%;
    border-radius: 1rem;
}

.mark-as-done-checkbox {
    width: 12%;
    height: 30px;
    margin-right: -1%;
    filter: grayscale(100%);
}

.mark-as-done-checkbox:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.content-buttons button {
    width: 35%;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border-radius: 0.4rem;
    border: 2px solid rgb(74, 74, 74);
}

.content-buttons button:hover {
    cursor: pointer;
    background-color: #a5a5a5;
    transform: scale(1.03);
}
